.row
  .col-xs-12
    h4 Perustiedot
    ul
      li Nimi: #{ship.name}
      li Rakennusnumero: #{ship.buildnumber}
      li Rakennusvuosi: #{ship.buildyear}
      li Tyyppi: #{ship.type_translated} (#{ship.type})
      li Tyypin lisätiedot: #{ship.type_info}
    h4 Tarkemmat tiedot
    ul
      each property in ship.properties
        li #{property.property}: #{property.value}
    if ship.attachments
      h4 Liitteet
      ul
        each attachment in ship.attachments
          li
            a(href=apiurl+'/attachments/'+attachment._id+'/data', target='blank') #{attachment.filename}