each ship in ships
  tr.searchresult(data-ship-name=ship.name, data-ship-id=ship._id, data-ship-buildnumber=ship.buildnumber)
    td #{ship.buildnumber}
    td #{ship.name}
    td #{ship.type_translated}
    td #{ship.buildyear}